body{
	margin: 0;
}
.baner_cont{
	width: 	100%;
	height: 400px;
	background: #898989;
	text-align: center;
}
.bunner{
	margin-top: 120px;
}
.filling{
	width: 767px;
	margin: auto;
}
.title_filling{
	vertical-align:top;
	font-size: 68px;
	display: inline-block;
}
.lime_img{
	margin-right: -75px;
	margin-top: -20px;
	width: 330px;
	height: 240px;
}
.top_textcor{
	margin-top:-12px;
}
.top_2textcor{
	margin-top: 25px;
}
.text_filling{
	line-height: 33px;
	font-family:arial;
	font-size: 19px;
}
.left,
.right{
	font-size: 50px;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.green_tx{
	color: #78ab47;
}
.slider_cont{
	width: 100%;
	height: 460px;
	background: #a3a3a3;
	top: 30px;
}


.slider_wrap {
margin:100px auto 0;
width:980px;
height:514px;
position:relative;
overflow:hidden;
}
.slider_wrap img {
width:771px;
height:auto;
display:none;
position:absolute;
top:20px;
left:105px;	
}
.slider_wrap img:first-child {
display:block;
}
.slider_wrap span {
margin-top:-13px;
width:62px;
height:106px;
display:block;
position:absolute;
top:45%;
cursor:pointer;
background:url(../img/slider3_arrow.png) no-repeat;
}
.slider_wrap span.next {
right:0px;
background-position:-62px 0;
}
.slider_wrap span.next:hover {
background-position:-63px -1px;
}
.slider_wrap span.prev {
left:0px;
background-position: 0 0;
}
.slider_wrap span.prev:hover {
background-position: 2px -1px;
}
