body{
	margin: 0;
}
.baner_cont{
	width: 	100%;
	height: 400px;
	background: #898989;
	text-align: center;
}
.filling{
	width: 767px;
	margin: auto;
}
.title_filling{
	display: inline-block;
}
.lime_img{
	width: 320px;
	height: 230px;
}